# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies - ignore in any directory
**/node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Environment files - ignore in any directory
**/.env
**/.env.*

# Python
# Ignore __pycache__ in any directory
**/__pycache__/

# Files ending with config
**/*config.*
**/*config

# typescript
*.tsbuildinfo
